@media only screen and (max-width: 500px) {
    .main {
        /* height: 568px; */
        width: 100%;
    }

    .main .box {
        /* height: 568px; */
        width: 100%;
    }

    nav img {
        width: 95px;
    }

    nav a {
        font-size: 13px;
        font-weight: 700;
        padding: 7px 15px;
    }

    .main .toptext1 {
        top: 25px;
        font-size: 31px;
        padding: 0px 25px;
    }

    .main .toptext2 {
        top: 45px;
        font-size: 18px;
        font-weight: 500;
    }

    .main .toptext3 {
        top: 70px;
        font-size: 18px;
        font-weight: 500;
        padding: 0px 50px;
    }

    .main span {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .email {
        margin-bottom: 10px;
        height: 45px;
        width: 270px;
    }

    .main .get {

        font-weight: 700;
        height: 50px;
        font-size: 18px;

    }

    .first {
        width: 100%;
        display: block;
    }

    .first .sectext1 {
        padding: 35px;

        width: 100%;
    }

    .first .sectext1 h2 {
        text-align: center;
        font-size: 30px;
    }

    .first .sectext1 div {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
    }

    .first .content {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .first img {
        width: 370px;
    }

    .first video {
        width: 270px;
        top: 56px;
        left: 0px;
    }

    .second {
        width: 100%;
        /* height:600px ; */
        display: flex;
        flex-flow: column;
    }

    .second .content {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 0px;
        order: 1;
    }

    .second img {

        width: 350px;

    }

    .second .content .Download {
        height: 62px;
        width: 260px;
        left: 0px;
        top: 180px;
    }

    .second .content .Download img:nth-child(1) {
        width: 35px;
        margin: 10px;
    }

    .second .content .Download div:nth-child(2) {

        margin: 15px 0px 0px 60px;
        font-weight: 600;
        font-size: 14px;

    }

    .second .content .Download div:nth-child(3) {
        margin: 0px 0px 0px 60px;
        font-weight: 500;
        font-size: 12px;
    }

    .second .content .Download :nth-child(4) {
        width: 40px;
        margin: 10px;
        display: flex;
        bottom: 4px;
        left: 200px;
    }

    .second .sectext2 {
        width: 100%;
        display: flow-root;
        position: relative;
        top: 0px;
        padding: 10px;
    }

    .second .sectext2 h2 {
        padding: 0px 0px 20px 0px;
        text-align: center;
        font-weight: 800;
        font-size: 30px;
    }

    .second .sectext2 div {
        text-align: center;
        font-weight: 400;
        font-size: 17px;
        font-family: sans-serif;
    }

    .third {
        width: 100%;
        display: block;
    }

    .third .sectext3 {
        padding: 15px;
        width: 100%;
    }

    .third .sectext3 h2 {
        text-align: center;
        font-size: 35px;
    }

    .third .sectext3 div {
        text-align: center;
        font-size: 19px;
        font-weight: 500;
    }

    .third .content {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .third img {
        width: 350px;
    }

    .third video {
        width: 230px;
        top: 20px;
        left: 0px;
    }

    .fourth {
        width: 100%;
        display: flex;
        flex-flow: column;
    }

    .fourth .content {
        width: 100%;
        position: relative;
        order: 1;
    }

    .fourth img {

        width: 350px;

    }

    .fourth .sectext4 {
        width: 100%;
        display: flow-root;
        position: relative;
        top: 0px;
        padding: 10px;
    }

    .fourth .sectext4 h2 {
        padding: 0px 0px 10px 0px;
        text-align: center;
        font-weight: 800;
        font-size: 34px;
    }

    .fourth .sectext4 div {
        text-align: center;
        font-weight: 300;
        font-size: 17px;
        font-family: sans-serif;
        padding: 10px;
    }

    .fifth h2 {
        font-size: 30px;
        font-weight: 700;
    }

    .fifth .block {
        font-size: 18px;
        padding: 20px;
    }

    .fifth .block svg {
        height: 25px;
        width: 25px;
    }

    .fifth p {
        font-size: 18px;
        font-weight: 400;
        margin: 0px 20px;
        margin-top: 40px;
        padding: 0px 40px;
    }

    .fifth span {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .email2 {
        margin-bottom: 10px;
        height: 45px;
        width: 270px;
    }

    .fifth .get2 {
        margin-top: 10px;

        font-weight: 700;
        height: 50px;
        font-size: 18px;

    }

    footer .container .top {
        display: flex;
        margin: 30px 30px 30px 30px;
    }

    footer .mid {
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 20px;
        row-gap: 17px;
    }

    footer .mid a {
        font-weight: 300;
    }
}

@media only screen and (min-width: 501px) and (max-width:1200px) {
    .first .sectext1 h2 {
        font-weight: 800;
        font-size: 35px;
    }

    .first .sectext1 div {
        font-weight: 200;
        font-size: 20px;
        font-family: sans-serif;
    }

    .first img {
        width: 400px;
        margin-top: 50px;
    }

    .first video {
        width: 295px;
        inset: 62px 0px 0px 50px;
        margin-top: 50px;
    }

    .second .content {
        width: 40vw;
        margin-top: 40px;

    }

    .second img {
        width: 450px;
    }

    .second .content .Download {
        height: 70px;
        width: 280px;
        left: 85px;
        top: 240px;
    }

    .second .content .Download img:nth-child(1) {
        width: 40px;
        margin: 10px;
    }

    .second .content .Download div:nth-child(2) {
        margin: 15px 0px 0px 70px;
    }

    .second .content .Download div:nth-child(3) {
        margin: 0px 0px 0px 70px;
    }

    .second .content .Download :nth-child(4) {
        left: 210px;
        bottom: 0px;
    }

    .second .sectext2 {
        margin-left: 130px;

    }

    .second .sectext2 h2 {
        font-size: 35px;

    }

    .second .sectext2 div {
        font-size: 20px;

    }

    .third .sectext3 h2 {
        font-size: 35px;

    }

    .third .sectext3 div {
        font-size: 20px;
    }

    .third .content {
        margin-top: 80px;
        margin-right: 40px;
    }

    .third img {
        width: 400px;
    }

    .third video {
        width: 250px;
        top: 20px;
        left: 75px;
    }

    .fourth img {
        width: 400px;
        margin-top: 70px;
    }

    .fourth .sectext4 {
        padding-left: 55px;

    }

    .fourth .sectext4 h2 {
        font-size: 35px;
    }

    .fourth .sectext4 div {
        font-size: 20px;
    }

    .fifth h2 {
        font-size: 35px;
    }

    .fifth .block {
        height: 15px;
        margin: 10px 40px;
        font-size: 20px;
    }
    .fifth .block svg{
        height: 30px;
    }
    .fifth p{
    font-size: 18px;
    }

}