* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("asset/img/BACKGROUND.jpg");
    height: 112vh;
    position: relative;
    /* background-position: center; */
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
}

.main .box {
    /* opacity: 70%; */

    height: 112vh;
    width: 100%;
    background: rgb(0 0 0 / 40%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    top: 0;

}

nav {
    display: flex;
    padding: 25px 30px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

nav img {
    position: relative;
    z-index: 10;
    width: 148px;

}

nav select {

    position: relative;
    z-index: 10;
    padding: 6px 32px;
    background-color: black;
    color: white;

}

nav a {
    position: relative;
    z-index: 10;
    background-color: rgb(229, 9, 20);
    padding: 7px;
    border-radius: 4px;
    font-weight: lighter;
    text-decoration: none;
    font-family: sans-serif;
    color: white;


}


.main .toptext1 {
    position: relative;
    z-index: 10;
    font-size: 48px;
    margin: 10px;
    color: white;
    font-weight: 900;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 15%;

}

.main .toptext2 {
    position: relative;
    z-index: 10;
    font-size: 25px;
    margin-top: 10px;
    color: white;
    font-weight: 100;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    top: 15%;
}

.main .toptext3 {
    position: relative;

    z-index: 10;
    font-size: 20px;

    color: white;
    font-weight: 100;
    font-family: sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    top: 20%;

}

.email {
    position: relative;
    z-index: 10;
    top: 160px;
    height: 55px;
    width: 360px;
    background-color: rgb(0, 0, 0);

    font-weight: 400;
    font-size: medium;
    padding-left: 10px;
    filter: contrast(85%);

    opacity: 60%;
    border: 1px solid gainsboro;
    border-radius: 3px;
}



.main .get {
    position: relative;
    z-index: 10;
    top: 160px;
    height: 55px;


    background-color: rgb(229, 9, 20);
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 100;
    border-radius: 5px;
    padding: 0px 20px;
    border: 0px;
}

.main .line {
    border: 5px solid gray;
    height: 1px;
}

@media only screen and (max-width: 500px) {
    .main {
        height: 568px;
    }

    .main .box {
        height: 568px;
    }

    nav img {
        width: 95px;
    }

    nav a {
        font-size: 13px;
        font-weight: 700;
        padding: 7px 15px;
    }

    .main .toptext1 {
        top: 25px;
        font-size: 31px;
        padding: 0px 25px;
    }

    .main .toptext2 {
        top: 45px;
        font-size: 18px;
        font-weight: 500;
    }

    .main .toptext3 {
        top: 70px;
        font-size: 18px;
        font-weight: 500;
        padding: 0px 50px;
    }

    .email {
        top: 90px;
        height: 45px;
        width: 270px;
    }

    .main .get {
        top: 105px;
        font-weight: 700;
        height: 50px;
        font-size: 18px;

    }
}